	<footer>
		<div class="footer-inner">
			<span class="myFont">Copyright &copy; 2017 <a href="https://pprieto8.github.io/">{{ site.author }}</a></span>
			<ul>
				<li><a href='{{ "/home" | prepend: site.baseurl }}' class="myFont css2dcc4b9955748">Inicio</a></li>
				<li><a href='{{ "/index" | prepend: site.baseurl }}' class="myFont css2dcc4b9955748">Blog</a></li>
				<li><a href='{{ "/about" | prepend: site.baseurl }}' class="myFont css2dcc4b9955748">Info</a></li>
				<li><a href="javascript:scroll(0,0)" class="myFont css2dcc4b9955748">Arriba</a></li>
			</ul>
		</div>
	</footer>
	<div class="go-top">
        <div class="arrow"></div>
        <div class="stick"></div>
    </div>
