  <header id="header">
    <div class="headerWrap clearfix">
      <nav>
        <ul>
          <li><a href='{{ site.resume }}' class="myFont title css2dcc4b9955748" id="title_page">{{ site.title }} Games</a></li>
          <li><a href='{{ "/home" | prepend: site.baseurl }}' class="myFont css2dcc4b9955748">Inicio</a></li>
          <li><a href='{{ "/index" | prepend: site.baseurl }}' class="myFont css2dcc4b9955748">Blog</a></li>
          <li><a href='{{ "/about" | prepend: site.baseurl }}' class="myFont css2dcc4b9955748">Info</a></li>
          <li class="avatarWrap"><a href="{{ site.resume }}" class="master">
			  <img src='{{ "/assets/avatar.jpg" | prepend: site.baseurl }}' alt="{{ site.author }}" style="max-width: 27px;" /></a></li>
        </ul>
      </nav>
    </div>
  </header> 
